<article{{attributes.addClass(classes)}}>
    <header>
    </header>
    <div{{content_attributes.addClass('node__content','clearfix')}}>
        <div class="container events">
            <div class="row">
                <div class="col-md-8">
                    
                      <div class="row justify-content-left">  

                         {% if node.field_institution_logo.entity.field_media_image.entity.fileuri is not empty  %} 
                                <div class="col-md-7">
                                    {{ title_prefix }}
                                    {% if label %}
                                    <h2{{title_attributes.addClass('node__title')}}>
                                    {{ label }}
                                    <h4 class="fw-bold margin-top-adj">{{ node.field_institution_name.value }}</h4>
                                    </h2>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <img class="img-thumbnail" src="{{ file_url(node.field_institution_logo.entity.field_media_image.entity.fileuri) }}" alt="{{ node.field_institution_logoentity.field_media_image.entity.alt }}">
                                </div>
                         {% elseif node.field_tmp_img.value is not empty  %}
                                <div class="col-md-7">
                                    {{ title_prefix }}
                                    {% if label %}
                                    <h2{{title_attributes.addClass('node__title')}}>
                                    {{ label }}
                                    <h4 class="fw-bold margin-top-adj">{{ node.field_institution_name.value }}</h4>
                                    </h2>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <img class="img-thumbnail" src="/educationusa/web/sites/default/files/styles/content_area_full_width/public/field_hei_logo/{{ node.field_tmp_img.value }}" alt="{{ node.field_tmp_img.value }}">
                                </div>
                         {% else %}
                                <div class="col-md-7" style="width:100%;">
                                    {{ title_prefix }}
                                    {% if label %}
                                    <h2{{title_attributes.addClass('node__title')}}>
                                    {{ label }}
                                    <h4 class="fw-bold margin-top-adj">{{ node.field_institution_name.value }}</h4>
                                    </h2>
                                    {% endif %}
                                </div>
                         {% endif %}


                      </div>  
                      {% if content.body %}
                      <div class="row">
                         {{ content.body[0] }} 
                      </div>
                      {% endif %}

                      <button class="btn btn-primary mt-2 mb-3">
                        {% if node.field_scholarship_url.uri %}
                            <a href="{{ node.field_scholarship_url.uri }}">{{ node.field_scholarship_url.title|default('More Information') }}</a>
                        {% endif %}
                      </button>
                </div>
                <div class="col-md-4">
                    <div class="row mb-2">
                        <div>

                                {% if node.field_deadline_type is not empty	%}
                                        <h6 class="mb-2"><b>DEADLINE TYPE</b></h6>
                                        <p>{{ content.field_deadline_type.0|render|striptags }}</p>
                                        <hr>
                                {% else %}
                                        <h6 class="mb-2"><b>DEADLINE TYPE</b></h6>
                                        <p>{{ content.field_tmp_deadline_type.0 }}</p>
                                        <hr>
                                {% endif %}

                                {% if node.field_us_states is not empty	%}
                                        <h6 class="mb-2"><b>U.S. STATES & TERRITORY</b></h6>
                                        <p>{{ content.field_us_states.0|render|striptags }}</p>
                                        <hr>
                                {% endif %}

                        </div>
                    </div>
                    
                    <div class="row mb-2">
                        <div>
                                {% if node.field_scholarship_degree_levels is not empty	%}
                                   <h6 class="mb-2"><b>DEGREE LEVELS</b></h6>
                                      {{ content.field_scholarship_degree_levels.0}}
                                         {% for key, value in content.field_scholarship_degree_levels %}
                                           {% if key > 0 %}
                                             {{ ' <br> ' }}
                                             {{ value }}
                                           {% endif %}
                                         {% endfor %}
                                           
                                {% endif %}
                                <hr>
                        </div>
                    </div>
                    
                    <div class="row mb-2">
                        <div>
                                {% if node.field_scholarship_majors	 is not empty %}
                                        <h6 class="mb-2"><b>RESTRICTED TO THESE MAJORS</b></h6>
                                        <p>{{ content.field_scholarship_majors.0|render|striptags }}</p>
                                        <hr>
                                {% endif %}
                        </div>
                    </div>
                     <div class="row mb-2">
                        <div>
                             {% if node.field_fb_share_description_short is not empty %}
                                        <h6 class="mb-2"><b>EXAMPLE FACEBOOK POST</b></h6>
                                        <p>{{ content.field_fb_share_description_short.0|render|raw }}</p>
                                        <hr>
                                {% endif %}
                        </div>
                    </div>
                     <div class="row mb-2">
                        <div>
                             {% if node.field_share_description_short is not empty %}
                                        <h6 class="mb-2"><b>EXAMPLE TWITTER POST</b></h6>
                                        <p>{{ content.field_share_description_short.0|render|raw }}</p>
                                        <hr>
                                {% endif %}
                                
                        </div>
                    </div>
                                                                                 
                </div>
            </div>
        </div>
    </div>
</article>